<nav class="navbar container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     <img src="/assets/images/menu.svg" class="pull-left">
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="h-100 d-flex flex-column justify-content-center">
    <div class="navbar-nav mr-auto">
        {% for item in site.data.navigation %}
                {% capture classes %}
                mb-4 side-link side-link-{{ forloop.index0 }} 
                    {% if forloop.first %}
                        primary-{{ forloop.index0 }}
                    {% endif %}
                {% endcapture %}
                <a href="{{ item.link }}" class="{{ classes }}">
                    {{ item.name }}
                </a>
        {% endfor %}
    </div>
    </div>
  </div>
</nav>
