<nav class="navbar container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     <img src="/assets/images/menu.svg" class="pull-left">
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto h-100 d-flex align-items-center">
        {% for item in site.data.navigation %}
            <li class="mb-3">
                {% capture classes %}
                side-link side-link-{{ forloop.index0 }} 
                    {% if forloop.first %}
                        primary-{{ forloop.index0 }}
                    {% endif %}
                {% endcapture %}
                <a href="{{ item.link }}" class="{{ classes }}">
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </div>
  </div>
</nav>
