<nav class="text-nowrap text-right">
    <ul>
        {% for item in site.data.navigation %}
            <li class="mb-3">
                {% capture classes %}
                side-link side-link-{{ forloop.index0 }} 
                    {% if forloop.first %}
                        primary-{{ forloop.index0 }}
                    {% endif %}
                {% endcapture %}
                <a href="{{ item.link }}" class="{{ classes }}">
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
