<div class="section">
    <h3>{{ include.section_data.title }}</h3>
    <div class="card">
        {% for item in include.section_data.items%}
            <div class="d-flex flex-column">

                {% if include.section_data.type == "experience" %}
                    <div class="d-flex flex-row justify-content-between">
                        <h4>{{ item.title }}</h4>
                        <div class="floating-right">{{ item.date }}</div>
                    </div> 
                    <div class="sub-title">{{ item.location }}</div>
                    <div class="caption">{{ item.short }}</div>
                    <div class="content">{{ item.desc }}</div>
                {% elsif include.section_data.type == "projects" %}
                    <div class="d-flex flex-row justify-content-between">
                        <h4>{{ item.title }}</h4>
                        <div class="floating-right d-flex flex-row">
                            {% for link in item.links %}
                                {% include icon-btn.html href=link.href iconurl=link.iconurl%}
                            {% endfor %}
                        </div>
                    </div> 
                    <div class="sub-title">{{ item.date }}</div>
                    <div class="content">{{ item.desc }}</div>
                {% endif %}
               
            </div>
        {% endfor %}
    </div>
</div>