.navbar{

    
    &-collapse{

        &.collapse{
            transition: 0.4s;
        }


        &.collapsing{
            height: 0 !important;
        }

        &.collapse.in {
            max-height: none;
            height: 100vh;
            display: block !important;
        }
    }


    background: white;
    padding: 16px 0;

    a{
        font-size: 3rem;
    }

    &-toggler{
        padding-left: 0;
        outline: none !important;
        height: 52px;
        color: none;
        border: none;
        
        &-icon{
            padding: 24px;
            background-image: url('/assets/images/x.svg');
        }

        &.collapsed{
            .navbar-toggler-icon{
                background-image: url('/assets/images/menu.svg');
            }
        }
    }
}
