.navbar-collapse{

    &.collapse{
        transition: 0.4s;
    }


    &.collapsing{
        height: 0 !important;
    }

    &.collapse.in {
        max-height: none;
        height: 100vh;
        display: block !important;
    }
}

.navbar{
    background: white;
    padding: 16px 0;

    &-toggler{
        padding-left: 0;
        
        img{
            content: url('/assets/images/x.svg');
        }

        &.collapsed{
            img{
                content: url('/assets/images/menu.svg');
            }
        }
    }
}
