<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,700;1,200&display=swap" rel="stylesheet">

    <!-- Custom style -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    
    <!-- JS -->
    <script text="text/javascript" src="/assets/js/main.js"></script>
    {% seo %}
  
  </head>
  <body>
    <div class="container">
        <div class="row d-flex flex-column">
            <div class="mx-auto">
                {% include masthead.html %}
            </div>
            <div class="mx-auto col-12 col-md-10">
                {% for section in site.data.portfolio.sections %}
                    {% include section.html section_data=section %}
                {% endfor %}
            </div>
        </div>
    </div>
  </body>
</html>
