<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,600&display=swap" rel="stylesheet">

    <!-- Custom style -->
    <link rel="stylesheet" href="/assets/css/style.css">
    
    {% seo %}
  
  </head>
  <body>
      <div class="container">
          <div class="d-flex flex-row">
              <div class="col-8 offset-4">
                {% include masthead.html %}
              </div>
          </div>
          <div class="d-flex flex-row">
              <div class="col-4">
                {% include navigation.html %}
              </div>
          </div>
      </div>
      {{ content }}
  </body>
</html>
