<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,600&display=swap" rel="stylesheet">

    <!-- Custom style -->
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <!-- JS -->
    <script text="text/javascript" src="/assets/js/main.js"></script>
    {% seo %}
  
  </head>
  <body>
      <div class="container vh-100">
          <div class="row d-flex flex-row h-40 align-items-center">
              <div class="col-8 offset-2">
                {% include masthead.html %}
              </div>
          </div>
          <div class="row d-flex flex-row h-60">
              <div class="col-1 p-0">
                {% include navigation.html %}
              </div>
              <div class="col-8 offset-1 h-100 overflow-auto hide-scrollbar">
                  {{ content }}
              </div>
          </div>
      </div>
  </body>
</html>
