html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(242, 242, 247);
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.container-centered {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.avatar{
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.bg-gradient-custom {
  background: #dc3545;
  background: linear-gradient(135deg, #dc3545 25%, #e21e80 100%);
}
