.project-card a {
  text-decoration: none !important;
}

.container-centered {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.bg-gradient-custom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: radial-gradient(circle at 25% 15%, rgb(241 212 38 / 8%) 5%, rgb(218 143 255 / 0%) 50%),
    radial-gradient(circle at 35% 45%, rgb(255 255 255 / 20%) 5%, rgb(255 255 255 / 0%) 80%),
    radial-gradient(circle at 75% 55%, rgb(213 211 243 / 12%) 5%, rgb(213 211 243 / 0%) 70%),
    radial-gradient(circle at 40% 80%, rgb(255 105 97 / 20%) 5%, rgb(255 105 97 / 0%) 80%);
}

.pointer {
  cursor: pointer;
}
